// https://coolors.co/817f82-ae8ca3-cbc9ad-95d9da-6dd6da

$eerie-black: #121619;
$kombu-green: #2D4739;
$dark-vanilla: #CBC9AD;
$spanish-viridian: #09814A;
$middle-blue: #6DD6DA;

$spacing-s: 1em;
$spacing: 2em;
$spacing-l: 3em;


html, body {
	margin: 0;
	font-family: 'Lato';
	font-size: 18px;
	-webkit-font-smoothing: antialiased;
}

a {
	// color: $middle-blue;
	text-decoration: none;
}

h1, h2, h3 {
	font-family: 'Filson Soft'
}

h2 {
	margin: 0;
}

.p {padding: $spacing;}
.p-l {padding: $spacing-l;}

.bg-black {background: $eerie-black;}
.bg-green {background: $spanish-viridian;}

.t-white {color: #fff;}

.container {
	max-width: 40rem;
	margin: 0 auto;
}

.t-white a {
	color: #fff;
}

.t-s {font-size: 14px;}
